<footer>
  <!-- Scripts Divers -->
  {% include mutitre.html %}

  <span>
    &copy;
    <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{
    site.author.name }}. Made with Jekyll using the
    <a href="https://github.com/chesterhow/tale/">Tale</a> theme.
  </span>
</footer>
