<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
      <br />
      <h3 class="nav-title subtitle">{{ site.subtitle }}</h3>
    </a>
    <ul>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">A propos</a></li>
      <li><a href="{{ site.baseurl }}/">Posts</a></li>
    </ul>
  </div>
</nav>
