---
layout: default
---

<h1 class="post-title">{{ page.title }}</h1>
{% if page.date %}
      <br>
      <span>Édité pour la dernière fois le&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  <div class="post-line"></div>

  {{ content }}
</div>

<div class="pagination">
<a href="#" class="top">Top</a>
</div>