---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %} {{ page.author }} {% else %} {{ site.author.name }} {%
    endif %} {% if page.date %}
    <br />
    <span>on&nbsp;</span
    ><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}
</div>

{% if page.comments %} {% include disqus_comments.html %} {% endif %}

<div class="pagination">
  {% if page.next.url %}
  <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow"
    >&#8592; {{ page.next.title }}</a
  >
  {% endif %} {% if page.previous.url %}
  <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow"
    >{{ page.previous.title }} &#8594;</a
  >
  {% endif %}
</div>
